@use './variables';

body{
    background-color: variables.$bg-body;
    color: variables.$color-body;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "lato", sans-serif;
}